<% @nation = @nation.split("").map {|n| n.gsub("+", " ")}.join.upcase%>

<h1>THE <%="#{@nation}"%> </h1>

<% @members.each do |member| %>
  <h3><%= member.name %></h3>
  <p><%= image_tag("#{member.photoUrl}") %></p>
<% end %>
